<div class="edit-menu" role="banner">
  <div class="edit-menu--inner is-visible">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">X</div>
    <form class="edit-menu--form">
      <label class="edit-menu--label">Title / overskrift</label>
      <input
        class="small-bottom-margin"
        type="text"
        ng-model="slide.options.header"
      />
      <label class="edit-menu--label">Infotekst / brødtekst</label>
      <input
        class="small-bottom-margin"
        type="text"
        ng-model="slide.options.paragraph1"
        placeholder="Linje 1"
      />
      <input
        class="small-bottom-margin"
        type="text"
        ng-model="slide.options.paragraph2"
        placeholder="Linje 2"
      />
      <input
        class="small-bottom-margin"
        type="text"
        ng-model="slide.options.paragraph3"
        placeholder="Linje 3"
      />
    </form>
  </div>
</div>
